@charset "utf-8";

body {
    background-color: #ffffff;
    text-align: center;
    font-family:sans-serif;
}

/*index*/
.b-img {
    height: 25vw; 
    width: 100vw;
    background-image: url(./img/background1.png);
    background-position: center;
    background-size: cover;
}
#info {
    margin-top: 80px;
    font-size: xx-large;
    font-weight: 500;
}
#info-tag {
    font-size: x-large;
    color:rgb(54, 138, 90);
    margin-top: 15px;
}
h2 {
    text-align: left;
    margin-left: 3%;
    margin-top: 50px;
}
#en-h2 {
    text-align: left;
    margin-left: 3%;
    font-size: 20px;
    color: rgb(26, 95, 56);
}
.options {
    height: 120px;
    width: 93vw;
    margin-top: 30px;
    margin-bottom: 20px;
}
.c {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: larger;
}
#developer {
    font-style: italic;
    text-decoration: none;
    color: rgb(19, 63, 23);
}

/* E-mail */
.logo {
    justify-content: center;
    margin-top: 120px;
}
#palette {
    font-size: x-large;
    margin-top: 30px;
}
.e-mail {
    margin-top: 40px;
    font-size: large;
}

/*option page*/
.b-img2 {
    height: 10vw; 
    width: 100vw;
    background-image: url(./img/background2.png);
    background-position: left;
    background-size: cover;
}
.back-self {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 26px;
    font-weight: 600;
    color: #000000;
}
.back-blank {
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.o-grid {
    justify-content: center;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 30vw 30vw;
    gap: 20px;
}
.item {
    height: 100px;
    width: 30vw;
}
#white{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
}
.o-color {
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 90px;
    font-weight: 900;
}

/*μ¤λ§νΈν°*/
@media (max-width: 600px) {
    
    /*index-m*/
    #info {
        margin-top: 50px;
        font-size: medium;
        font-weight: 500;
    }
    #info-tag {
        font-size: small;
        margin-top: 10px;
        color:rgb(54, 138, 90);
    }
    #en-h2 {
        text-align: left;
        margin-left: 3%;
        margin-bottom: 15px;
        font-size: 17px;
        color: rgb(26, 95, 56);
    }
    .options {
        height: 80px;
        width: 93vw;
        margin-top: 2px;
    }
    .c {
        margin-top: 40px;
        margin-bottom: 50px;
        font-size: medium;
    }

    /* email-m */
    .logo {
        height: 50vw;
        width: 100vw;
        justify-content: center;
        margin-top: 50px;
    }

    /*option-m*/
    .back-self {
        position: absolute;
        margin-top: 35px;
        margin-left: 20px;
        font-size: 18px;
        font-weight: 600;
    }
    .back-blank {
        position: absolute;
        margin-top: 60px;
        margin-left: 20px;
        font-size: 0px;
        font-weight: 600;
        color: #ffffff;
    }
    .o-grid {
        justify-content: center;
        margin-top: 100px;
        display: grid;
        grid-template-columns: 30vw 30vw;
        gap: 10px;
    }
    .item {
        height: 50px;
        width: 30vw;
    }
    .o-color {
        margin-top: 30px;
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 900;
    }
}